/* TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com */
@tailwind base;
@layer base {
    html {
        @apply text-[#4f4f4f];
        &.dark {
            @apply text-neutral-50;
            @apply bg-neutral-800;
        }
    }
    [data-te-datatable-init] tr{
        @apply hover:bg-gray-200 even:bg-gray-50 dark:hover:bg-neutral-700 dark:even:bg-neutral-900;
    }
    input[type="file"]::file-selector-button{
        @apply hidden;
    }
    .excellent {
        @apply text-green-600 dark:text-green-400 font-bold transition hidden;
    }
    .good {
        @apply text-yellow-600 dark:text-yellow-400 font-bold transition hidden;
    }
    .bad {
        @apply text-red-600 dark:text-red-400 font-bold transition hidden;
    }
    $typesTitle:'excellent','good','bad';
    @each $typeTitle in $typesTitle{
        [data-type="#{$typeTitle}"] .#{$typeTitle}{
            @apply block;
        }
    }
    $typeProgress:('excellent':'bg-success text-success-100','good':'bg-warning text-warning-100','bad':'bg-danger text-danger-100');
    @each $key,$value in $typeProgress {
        [data-progress="#{$key}"]{
            @apply #{$value};
        }
    }
    $headingTitles: ('h1':'text-3xl','h2':'text-2xl','h3':'text-xl','h4':'text-lg','h5':'text-lg','h6':'text-base');
    @each $key,$value in $headingTitles {
        .post #{$key} {
            @apply #{$value} font-bold mb-2;
        }
    }
    .post table{
        @apply min-w-full text-left text-sm font-light;
        tr:first-of-type{
            @apply border-b font-medium dark:border-neutral-500;
            td,th{
                @apply px-6 py-4;
            }
        }
        tr:not(:first-of-type){
            @apply border-b dark:border-neutral-500 hover:bg-gray-200 even:bg-gray-50 dark:hover:bg-neutral-700 dark:even:bg-neutral-900;
            td{
                @apply whitespace-nowrap px-6 py-4;
            }
            @apply bg-white dark:bg-gray-800;
        }
    }
    .link{
        @apply relative overflow-ellipsis whitespace-nowrap overflow-hidden w-full;
    }
    .link::after{
        @apply content-[""] absolute bottom-0 h-1 w-0 bg-blue-500 dark:bg-blue-800 left-1/2 -translate-x-1/2 transition-all duration-200 ease-linear hover:w-full;
    }
}

@tailwind components;
@tailwind utilities;
@import "./arabic";
